@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,600;1,900&display=swap');

body{font-family: 'Poppins', sans-serif;
position:relative;}
.evento-nome{
	font-family: 'Poppins', sans-serif;
}
.image-container{
	width:100%;
	height:auto;
}
.event-container{
	padding:20px;
	width:800px;
	margin-left:30px;
	
}
.event-type{
	font-weight:bold;
	color:green;
}
button{
	background-color: #f1c27b;
  width: 80%;
  color: white;
  border: none;
  padding: 8px;
  font-family: "Poppins";
  font-weight: 500;
  margin-bottom:10px;
}

button:hover{background-color: #f38600;
  transform: scale(1.1);
  font-weight:bolder;
  
  }
  
  .evento-desc{
  font-weight:bold;
  }
  .event-tag{
  background-color: black;

  font-family: "Poppins";
  text-align: center;

  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  color: grey;
  margin-right: 10px;
  display: inline-block;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
  }
   .event-tag:hover {
  box-shadow: 0px 0px 4px 0px rgba(246, 149, 3, 0.886);
  color: rgb(255, 200, 0);
}
.dropdown-check-list {
  display: inline-block;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #f0b658;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid;
  border-top: 2px solid;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ec7b4b;
  border-top: none;
}

.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-list.visible .anchor {
  color: #e6af5e;
}

.dropdown-check-list.visible .items {
  display: block;
}
